{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %} Search {% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
	      <br/>
        {{ utils.flashed_messages() }}
        <br/>
        {% include "admin/search/search_sub/search_anchor.html" ignore missing %}
        <hr class="col-xs-12">
        {% include "admin/search/search_sub/search_payroll_by_month.html" ignore missing %}
        <hr class="col-xs-12">
        {% include "admin/search/search_sub/search_payroll_by_anchor_month.html" ignore missing %}
        <hr class="col-xs-12">
        {% include "admin/search/search_sub/search_payroll_by_anchor.html" ignore missing %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
